/** Fonts **/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

[class^="glyphicon-"][disabled],
[class*=" glyphicon-"][disabled],
[class^="glyphicon-"].disabled,
[class*=" glyphicon-"].disabled {
    cursor: default;
    opacity: 0.25;
}


/*
 * Firefox has some awkward fieldset styling involving width that interferes with the responsive table. This cannot be overriden without a Firefox-specific hack that we don't provide in Bootstrap:
 *
 */

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


/*
 * Base structure
 */

.grey {
    color: #99CC99;
}

.text-muted {
    color: #dadada;
}

.light-blue {
    color: #44BBEE;
}

.alert,
.ticket-form,
.table-responsive {
    display: none;
}

.table-responsive {
    z-index: 99996;
}

.ticket-form {
    z-index: 99999;
}

h1,
h2,
h3,
h4 {
    color: #44BBEE;
}


/* Move down content because we have a fixed navbar that is 50px tall */

body {
    color: #888;
    padding-top: 0px;
    font-family: 'Roboto', 'Segoe UI', 'Lucida Grande', 'Ubuntu', sans-serif;
    margin: 0;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.fa {
    display: none;
    font-size: 48pt;
    color: #44BBEE;
    z-index: 99999;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/*
 * Main content
 */

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.popover {
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 120px;
}

.popover.right .arrow:after {
    border-right-color: #e74c3c;
}

.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}


/**
 *     Footer
 *
 */

footer {
    background-color: #44BBEE;
    z-index: 99999;
}

footer .navbar-nav {
    float: left;
    margin: 0;
}

footer .navbar-nav>li {
    float: left;
}

footer .navbar-nav>li>a {
    color: #fff;
}

footer .navbar-nav>li>a:hover {
    color: #44BBEE;
    background-color: #fff;
}

footer .navbar-nav>li>a:focus {
    color: #44BBEE;
    background-color: #fff;
}

footer .glyphicon {
    font-size: 18pt;
}


/****
 * Tickets
 */

.main,
body,
#dashboard-table {
    background-color: #f8f8f8;
}

#dashboard-table {
    background-color: #44BBEE;
}

.main {
    margin-bottom: 40px;
}

.list-group-item {
    height: 260px;
}

.shop-logo {
    width: 90px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.area {
    font-weight: bold;
    color: #aaa;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.product {
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.price {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    background-color: #fff;
    color: darkgreen;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 48px;
    right: 5px;
}

.price::before {
    content: "\0020A6\020";
}

.product-image {
    margin-top: 20px;
    width: 256px;
    vertical-align: top;
}

.buy-product-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
}